name: "STAGING ENV: Snowflake Terraform Demo Workflow"

on: 
  push:
    branches: 
      - staging

jobs:
  deploy-terraform-staging:
    name: "Plan & Deploy Terraform plan on Staging"
    runs-on: ubuntu-latest
    env:
      ARM_SUBSCRIPTION_ID: ${{ secrets.ARM_SUBSCRIPTION_ID }}
      ARM_CLIENT_ID: ${{ secrets.ARM_CLIENT_ID }}
      ARM_CLIENT_SECRET: ${{ secrets.ARM_CLIENT_SECRET }}
      ARM_TENANT_ID: ${{ secrets.ARM_TENANT_ID }}
    permissions:
      pull-requests: write
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
      
      - name: Terraform Init
        id: init
        run: terraform -chdir=./staging init

      - name: Terraform Format
        id: fmt
        run: terraform -chdir=./staging fmt -recursive -check

      - name: Terraform Validate
        id: validate
        run: terraform -chdir=./staging validate -no-color

      - name: Terraform Plan
        id: plan
        run: terraform -chdir=./staging plan 
        env:
          TF_VAR_snowflake_private_key: ${{ secrets.SNOWFLAKE_PRIVATE_KEY }}

      - name: Terraform Apply
        id: apply
        run: terraform -chdir=./staging apply -auto-approve
        env:
          TF_VAR_snowflake_private_key: ${{ secrets.SNOWFLAKE_PRIVATE_KEY }}